.floater-navigator {
    height: 8rem;
    width: 8rem;
    z-index: 999;
    position: fixed;
    bottom: 5vw;
    right: 2vw;
    border-radius: 8rem;
    background-color: #eb5424;
    cursor: pointer;
    animation-name: floater-navigator-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes floater-navigator-anim {
    0% {
        background-color: #eb5424;
        transform: scale(1);
    }

    50% {
        background-color: #f87046;
        transform: scale(0.9);
    }

    100% {
        background-color: #eb5424;
        transform: scale(1);
    }
}