body {
    font-size: 1.75rem;
}

.form-control {
    font-size: 2rem;
    touch-action: manipulation;
}

table {
    font-size: 1.75rem;
}

.result-table {
    border: double;
    width: 100%;
}

.result-table-positive {
    background-color: azure;
}

.result-table-negative {
    background-color: bisque;
}

.result-data {
    width: 30%;
    padding: 1rem;
}

.result-data2 {
    width: 70%;
    padding: 1rem;
}

.result-wrapper {
    text-align: left;
}

.header-style {
    background-color: cornsilk;
    padding: 16px;
    border-style: inset;
}

.clear-btn {
    position: absolute;
    right: 1.4rem;
    bottom: 1rem;
}