{{ define "get_home_about.template" }}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Hermawan Wijaya</span>
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">Hermawan
                <span class="text-primary">Wijaya</span>
            </h1>
            <div class="subheading mb-5">Malang · East Java, Indonesia · (+62) 8569 4800 116 ·
                <a href="mailto:hermawanwijaya21@gmail.com">hermawanwijaya21@gmail.com</a>
            </div>
            <p class="lead mb-5">“Hardest worker in the room” is what I mostly known for. I always have the discipline and responsibility to do any task that are given to me. I also proactively speaks ideas (even random ones) to my surroundings. I was enrolled to the best public university in Malang and able to graduate in 7th semester with GPA of 3,74 out of 4. My thesis is focusing on Augmented Reality usability for Mathematics Equation using Vuforia SDK on Unity3D. Currently I am working as Software Engineer in Tokopedia, the biggest e-commerce company in Indonesia. My biggest motivation is to make something that helps many and to learn all the advanced technology available.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/hermawan-wijaya-21b341159/" target="_blank">
                    <i class="fab fa-linkedin-in" style="line-height: 3rem;"></i>
                </a>
                <a href="https://github.com/Batrov" target="_blank">
                    <i class="fab fa-github" style="line-height: 3rem;"></i>
                </a>
                <a href="https://www.instagram.com/hermawan_wijaya/" target="_blank">
                    <i class="fab fa-instagram" style="line-height: 3rem;"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Software Engineer</h3>
                    <div class="subheading mb-3">PT. Tokopedia</div>
                    <p>As a part of Operation Tribe, my responsibility is to develop new feature for Tokopedia’s Resolution Center Team and Gandalf (Customer Support Artificial Intelligence) Team. My notable works is Resolution Ultimate feature which cuts user’s process time when they got marketplace problem such as logistics or products problem by adding SLA in every action. I was responsible for the automated process such as auto execution and auto tracking feature. I also have experience in doing the front-end’s using ReactJS.  We work using Go Lang, NSQ, Redis, Git, ReactJS, JavaScript, and PostgreSQL.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">October 2018 - Present</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Web Programmer</h3>
                    <div class="subheading mb-3">PT. Karir Pad Internasional</div>
                    <p>Karirpad is a HR Tech company which runs Job Portal system for easy jobseeking. My responsibility varies from handling the Jobseeker’s site and Employer’s site called RMS. I was also trusted to lead internal’s HR System. We use CodeIgniter (yes, we use PHP!) and MySQLi.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">March 2018 - September 2013</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Kinect Programmer</h3>
                    <div class="subheading mb-3">Fun Tech, Jawa Timur Park 3</div>
                    <p>We build kinect games using Unity3D for this one of the biggest tourism spot in Malang. As a team of 3 person, we launched 4 games: Balloon Pop (pop balloon by clapping your hands together), Bouncing Heads (balls regularly spawn from your head with your face on it, and you can hit those balls with your arms or legs), Fruity Obstacle (multiplayer game with goal to get the most fruits in wall climbing environment), and Connecting Circle (a circle will render and follows under your feets and will create a line when another circle detected.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2017 - March 2018</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Game Developer Intern</h3>
                    <div class="subheading mb-3">CV. Multimedia Edukasi</div>
                    <p>Start up which focuses on utilizing technology for education. I make games with Construct2 Engine and learn to publish them to play store.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2017</span>
                </div>
            </div>

        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">University of Brawijaya</h3>
                    <div class="subheading mb-3">Bachelor of Computer Science</div>
                    <div>Computer Science - Game Development Track</div>
                    <p>GPA: 3.74</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2014 - 2018</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Saint Joseph Senior High School</h3>
                    <div class="subheading mb-3">Social Science Class</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2011 - 2014</span>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-jenkins"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-react"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-node-js"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-npm"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i> Unit Testing</li>
                <li>
                    <i class="fa-li fa fa-check"></i> Integration Testing &amp; Debugging</li>
                <li>
                    <i class="fa-li fa fa-check"></i> Datadog Monitoring</li>
                <li>    
                    <i class="fa-li fa fa-check"></i> Trunk Based Development</li>
                <li>
                    <i class="fa-li fa fa-check"></i> Agile Development &amp; Scrum</li>
            </ul>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>I'm interested in these topics: Investment, Technology, Arts, and Video Games.</p>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
        <div class="w-100">
            <h2 class="mb-5">Awards &amp; Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i> Exceed Expectation Performer at Tokopedia Resolution Center Team (Q1 - Q4 2019)</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i> Cum Laude Graduate with GPA of 3.74 / 4 in 7<sup>th</sup> Semester</li>
                </ul>
        </div>
    </section>

</div>

{{ end }}