{{ define "get_home_donate.template" }}
<div class="text-center">
    <h1>Fund Me?</h1>
    <p>Thank you for reaching this page! We rely on your donations to keep running and improve our system.</p>
    <h6 style="color: green;">Every penny matters!</h6>
    <hr>
    <img src="https://cryptologos.cc/logos/versions/bitcoin-btc-logo-full.svg?v=010" alt="BTC Wallet" style="width: 200px;">
    <p>Select Network:</p>

    <a class="btn btn-success btn-btc-network" id="btc">
        BTC
    </a>

    <a class="btn btn-success btn-btc-network" id="bep2">
        BEP2
    </a>

    <a class="btn btn-success btn-btc-network" id="bep20-bsc">
        BEP20 (BSC)
    </a>

    <a class="btn btn-success btn-btc-network" id="erc20">
        ERC20
    </a>

    <a class="btn btn-success btn-btc-network" id="btc-segwit">
        BTC (SegWit)
    </a>

    <div class="mb-3 mt-3 card card-body card-network">
        <h5 class="card-network-title"></h5>
        <div class="card-network-memo">
            Memo:
            <div class="card card-network-memo-value" style="background-color: ivory;">
                MEMO VALUE
            </div>
        </div>

        <div class="card-network-deposit-address">
            Deposit Address:
            <div class="card card-network-deposit-address-value" style="background-color: ivory;">
                DEPOSIT VALUE
            </div>
        </div>
    </div>

    <hr>
    <h2>Thank you for your support!</h2>


</div>
{{ end }}