{{ define "get_retirementcalc_index.template" }} 

<div class="text-center m-5">
    <div>
        <h1>Retirement Plan Calculator</h1>
        <form>
            <div class="form-group">
                <label for="age">Your Age: </label>
                <input type="number" class="form-control" id="age" placeholder="e.g. 22" value="24">

                <label for="lifespan">Your Estimated Lifespan (Year): </label>
                <input type="number" class="form-control" id="lifespan" placeholder="e.g. 70" value="79">

                <label for="currency">Currency: </label>
                <input type="text" class="form-control" id="currency" placeholder="e.g. IDR" value="IDR">

                <label for="income">Your Income per Month: </label>
                <input type="number" class="form-control" id="income" placeholder="e.g. 5000000" value="0" min="0">

                <label for="expenses">Your Expenses per Month: </label>
                <input type="number" class="form-control" id="expenses" placeholder="e.g. 5000000" value="0" min="0">

                <label for="inflation">Inflation per Year (%): </label>
                <input type="number" class="form-control" id="inflation" placeholder="e.g. 3.2" value="5.9" step="0.01">
            </div>
        </form>

        <div class="result-wrapper">
            <br>
            <h3>Result:</h3>
            <h3 id="result-retire"></h3>
            <h3 id="result"></h3>
            <h3 id="result-retire-summary"></h3>
        </div>

        <div class="menu-wrapper">
            <button type="submit" class="btn btn-danger" id="btn-exit">Exit</button>
        </div>
    </div>
</div>

{{ end }}