{{ define "hbd-cutek.template" }}
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" type="text/css" href="/assets/css/hbd-cutek.css">
     
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="/assets/js/home/hbd-cutek.js"></script>
    </head>
    <body>
        <div class="center">
            <div class="w3-container">
                <div class="audio">
                    <audio id="myAudio" controls autoplay>
                        <source src="/assets/audio/showtime.mp3" type="audio/mpeg">
                    </audio>
                </div>
                <div class="ucapan w3-animate-bottom">
                    Biar ga sepi, play musik di atas dulu yuk :)
                </div>
                <div class="ucapan-img" style="display: none;">
                    <img src="/assets/img/hbd-cutek/molly1.jpg" alt="" style="max-height: 100vh;">
                </div>
                <div class="ucapan-img-1" style="display: none;">
                    <img src="/assets/img/hbd-cutek/ss1.jpg" alt="" style="max-height: 100vh;">
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}