{{ define "layout.template" }} 

{{ $content := index .Contents "Content" }}
{{ $jsfile := index .Contents "JS_File" }}

<html>

<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1319121893720169" crossorigin="anonymous"></script>
    {{ if eq ( $content ) "get_home_index.template" }} 
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css">
    {{ else if eq ( $content ) "get_home_about.template" }} 
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">  
    <link rel="stylesheet" type="text/css" href="/assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/about.css">
    {{ else if eq ( $content ) "get_openmap_index.template" }} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/css/openmap.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    {{ else if eq ( $content ) "get_retirementcalc_index.template" }} 
    <link rel="stylesheet" type="text/css" href="/assets/css/retirementcalc.css">
    {{ end }}
</head>

<body>
    {{ if eq ( $content ) "get_home_index.template" }} 
        {{ template "get_home_index.template" . }} 
    {{ else if eq ( $content ) "get_home_about.template" }} 
        {{ template "get_home_about.template" . }} 
    {{ else if eq ( $content ) "get_goquiz_index.template" }} 
        {{ template "get_goquiz_index.template" . }} 
    {{ else if eq ( $content ) "get_goquiz_survey.template" }} 
        {{ template "get_goquiz_survey.template" . }} 
    {{ else if eq ( $content ) "get_retirementcalc_index.template" }} 
        {{ template "get_retirementcalc_index.template" . }} 
    {{ else if eq ( $content ) "get_iganalyzer_index.template" }} 
        {{ template "get_iganalyzer_index.template" . }} 
    {{ else if eq ( $content ) "get_openmap_index.template" }} 
        {{ template "get_openmap_index.template" . }} 
    {{ else if eq ( $content ) "get_home2_index.template" }} 
        {{ template "get_home2_index.template" . }} 
    {{ else if eq ( $content ) "get_home_donate.template" }} 
        {{ template "get_home_donate.template" . }} 
    {{ else if eq ( $content ) "blog-0-en.template" }} 
        {{ template "blog-0-en.template" . }} 
    {{ else }}
        <h1>404</h1>
    {{ end }}

    {{ template "google_ads_1.template" . }} 

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {{ if eq ( $content ) "get_home_index.template" }}
        <script src="/assets/js/home/get_index.js"></script>
    {{ else if eq ( $content ) "get_home_about.template" }}
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/assets/js/home/get_about.js"></script>
    {{ else if eq ( $content ) "get_goquiz_index.template" }}
        <script src="/assets/js/goquiz/get_index.js"></script>
    {{ else if eq ( $content ) "get_goquiz_survey.template" }}
        <script src="/assets/js/goquiz/get_survey.js"></script>
    {{ else if ne ( $jsfile ) "" }}
        <script src="/assets/js/{{ $jsfile }}"></script>
    {{ end }}

</body>

</html>
{{ end }}